.EnergyUseSec {
  padding: 1rem;
}

.EnergyUseDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

.EnergyUseLeft {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.EnergyUseIconSpan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #224f7e; 
  border-radius: 0.5rem;
  width: 2.25rem;  
  height: 2.25rem;
}

.EnergyUseIcon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.EnergyUseDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EnergyUseRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;
}



//-----------------------TEXT scss
.EnergyUseDate h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #00000040;
}

.EnergyUseTxt1 {
  font-size: 1.5rem;
  margin: 0;
  color: #000;
}

.EnergyUseKwh {
  font-size: 1rem;
  color: #00000040;
  margin-left: 0.25rem;
}

.EnergyUseTxt2 {
  font-size: 0.85rem;
  margin: 0;
  color: #4beb70; 
}