.PresetScrollSec {
  display: flex;
  
  overflow-x: auto;
  scroll-behavior: smooth;
  


  &::-webkit-scrollbar {
    display: none;
  }


  scrollbar-width: none;
}

.PresetDivBox {
 border-radius: 1rem;
  align-items: center;

  margin: 0 auto;


.contentBtnDiv {
  display: flex;          
  flex-direction: row;     
  align-items: center;     
  
  gap: 0.5rem;             
  margin: 0;              
  padding: 0;     
  
  p {
    margin: 0;               
  }
}

}

//for button in general
.PresetDivBox button {
  display: flex;
  align-items: center;
  justify-content: center;


  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;

  cursor: pointer;

  background: white;
  transition: 0.2s ease;
}
  //for active button
   .PresetDivBox button.active {
    background: #224f7e;
    color: white;
  }

    .Preset-icon {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }


