#root{
    max-width: 31.2rem;
    margin: 0 auto;
    background-color: rgb(220, 220, 220);
}

body{
    background-color: black;
  font-family: Arial, sans-serif; 
}

#shadow{
      box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
  font-family: Arial, sans-serif; 
}