.SmartSetCompBox,
.WarmthInfoBox {
  max-width: 13rem;
  max-height: 15.4rem;
  height: 15.4rem;
  box-sizing: border-box;
  padding: 0.6rem;

  background: white;
  border-radius: 0.5rem;

  margin: 1rem 0;

  label {
    display: flex;
    margin-bottom: 0.5rem;

    color: #0000007f;

  }
}

.deviceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.SettingDesComp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  border: none;
  border-radius: 0.5rem;

  padding: 1rem;
  box-sizing: border-box;

  .WamthTxtInfo {
    line-height: 0.5rem;
  }

  img {
    max-width: 1.6rem;
    max-height: 1.6rem;
  }
}

.deviceName {
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;
}

.SmartSetCompTitle {
  color: #000000a6;
}

.WarmthBtn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  border: none;
  border-radius: 0.5rem;

  width: 100%;
  max-height: 2rem;
  padding: 1rem;
  box-sizing: border-box;

  color: white;
  background: #224f7e;


  text-align: center;

  img {
    max-width: 1.4rem;
    max-height: 1.4rem;

    margin-right: 1rem;
  }
}